<div class="center jumbotron">
  <h1>About this App</h1>

  <p>
    The Food App is a simple CRUD app that allows users to add to a list of ingredients they have access to, and then to search for recipes that require those ingredients. It's a quick and easy solution to the timeless question "what can I cook right now?"
  </p>

  <%= link_to "Sign up now!", 'signup_path', class: "btn btn-lg btn-primary" %>
</div>
