<div class="center jumbotron">
  <h1>Contact</h1>
<h2>
  <a href="https://www.linkedin.com/in/jmartinez729/">John Martinez</a><br>
  <a href="mailto:jmartinez729@gmail.com?subject=Food App">
Send me an email</a>
</h2>
</div>
