
<footer class="footer">
  <small>
    The <a href="https://github.com/jmartinez729/mod_2_project/">Food App</a>
    by <a href="https://www.linkedin.com/in/jmartinez729/">John Martinez</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'about' %></li>
      <li><%= link_to "Contact", 'contact' %></li>
      <li><a href="https://flatironschool.com/">Flatiron School</a></li>
    </ul>
  </nav>
</footer>
